# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Envs
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
